 {% extends "blog/base.html" %}

{% load static wagtailcore_tags wagtailimages_tags el_pagination_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    
<!-- Page Header -->
{% image page.masthead original as image %}
<header class="masthead" style="background-image: url('{{ image.url }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{ page.title }}</h1>
          <span class="subheading">{{ page.intro }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
        
        {{ page.body|richtext }}

        </div>
    </div>
  </div>


{% endblock %}